<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                                 
  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">


  <display-name>Web Application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>ServletSubmit</servlet-name>
    <servlet-class>servers.ServletSubmit</servlet-class>
  </servlet> 
  <servlet>
    <description></description>
    <servlet-name>SendXml</servlet-name>
    <servlet-class>servers.SendXml</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>ServletDelete</servlet-name>
    <servlet-class>servers.ServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSubmit</servlet-name>
    <url-pattern>/ServletSubmit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendXml</servlet-name>
    <url-pattern>/registration/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDelete</servlet-name>
    <url-pattern>/ServletDelete</url-pattern>
  </servlet-mapping>
</web-app>
